[submodule "projects/messenger/chains/evm/lib/forge-std"]
	path = projects/messenger/chains/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/evm-tokenbridge/chains/evm/lib/openzeppelin-contracts"]
	path = projects/evm-tokenbridge/chains/evm/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "projects/xmint/chains/evm/lib/openzeppelin-contracts"]
	path = projects/xmint/chains/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "projects/xmint/chains/evm/lib/solidity-bytes-utils"]
	path = projects/xmint/chains/evm/lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "projects/xmint/chains/evm/lib/forge-std"]
	path = projects/xmint/chains/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
